@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&family=Manrope:wght@300;500;800&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,900&display=swap');

:root{
    --preto : #000;
    --cinza : #545454;
    --cinzaesc : #bbbbbb;
    --brancoe : #ddd;
    --azul : #002366;
    --azule : #001438;
    --laranjac : #FFAF4C;
    --laranja : #FF8200;
    --vermelho : rgb(187, 75, 0);
    --laranjae : #642704;
    --branco : #fff;
}

*{
    font-family: "Manrope", sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--branco);
}

 a, li{
    list-style: none;
    text-decoration: none;
}

.mobile{
    display: none;
}

#wpp{
    z-index: 9999;
    width: 55px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity 0.3s;
    transition: tranform 0.9s;
}

#wpp:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/*==============NAVBAR===============*/

.header{
    background-color: var(--azul);
    height: 95px;
}

.navbar{
    max-width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    padding: 5px 0px;
    user-select: none;
}

.navbar a{
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.navbar li{
    display: inline-block;
    padding: 0px 30px;

}

.navbar ul{
    padding-left: 400px;
}

.navbar li, a:hover{
    transition: 0 0 0.1s;
    color: var(--laranja);
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--branco);
    margin: 5px auto;
    transition: all 0.3s;
}

.img-logo{
    padding-left: 100px;
}

.logo img{
    width: 85px;
}

.marcas{
    max-width: 2000px;
}

.titulo-marcas{
    font-size: 2em;
    font-weight: 700;
    color: var(--azul);
    text-align: center;
}

.titulo-marcas h1{
    margin: 10px;
    font-family: "Poppins", serif;
}

.container-marcas {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 50px 80px;
}

.marcas-img {
    margin: 5px;
}

.marcas-img img {
    width: 100%;
    height: auto;
}


.prod-img .img-desktop{
    width: 100%;
    display: block;
    max-width: 2000px;
}

img.img-mobile{
    display: none;
}

.produtos{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.produtos:not(:last-child){
    margin-bottom: 40px;
}

.card{
    width: 300px;
    height: 450px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 0 20px;
}

.card.link{
    display: block;
}

.imgcard img{
    width: 250px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 25px;
}

.txtcard h1{
    text-align: center;
    height: 80px;
    margin: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--branco);
    line-height: 30px;
    padding-bottom: 20px;
}

#mini h1{
    font-size: 22px;
}

.btncard a{
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: var(--branco);
    color: var(--azul);
    font-size: 28px;
    font-weight: 600;
    padding: 5px 19px;
    border-radius: 5px;
}

.btncard a:hover{
    background-color: var(--laranja);
    color: var(--branco);
    transition: 0.2s;
}

.paginacao{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.numero{
    margin: 0px 15px;
}

.numero a{
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
    background-color: var(--laranja);
    color: var(--branco);
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
}

.numero a:hover{
    background-color: var(--vermelho);
    transition: 0.2s;
}

#um a{
    background-color: var(--vermelho);
}

.rodape{
    background-color: var(--azul);
    color: var(--branco);
    height: 340px;
}

.dadoscontato{
    display: flex;
    max-width: 2000px;
    padding-top: 50px;
}

.contato{
    text-align: center;
}

.contato h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.contato h2{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.contato span{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--laranja);
}

.redes{
    text-align: center;
}

.redes h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.redes-container{
    display: flex;
    padding-top: 20px;
}

.redes img:hover{
    transform: scale(1.08);
    opacity: 0.8;
    transition: .2s;
}

.endereco{
    text-align: center;
}

.endereco h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.endereco a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--branco);
}

.endereco a:hover{
    color: var(--cinzaesc);
    transition: 0.2s;
}

.direitos{
    padding-top: 100px;
}

.direitos h1{
    font-weight: 300;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px){

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .menu{
        display: block;
        color: var(--branco);
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        z-index: 9999;
        position: absolute;
        display: flex;
        top: -100%;
        width: 100%;
        background: var(--azul);
        transition: 0.2s;
        flex-direction: column;
    }

    .nav-menu.ativo{
        top: 95px;
        width: 100%;
        padding: 0px;
        border-top: 2px solid var(--branco);
        padding: 10px 0;
        z-index: 9999;
    }

    li.nav-item{
        padding: 10px 0px;
    }

    .img-logo{
        padding-left: 0px;
        padding-top: 5px;
    }
    
    .logo img{
        width: 75px;
    }

    .titulo-marcas{
        font-size: 1.5em;
    }
    
    .titulo-marcas h1{
        margin: 10px;
    }
    
    .container-marcas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px;
        margin: 0px 10px;
    }
    
    .marcas-img {
        margin: 10px;
        flex: 0 0 calc(20% - 20px);
    }
    
    .marcas-img img {
        width: 100%;
        height: auto;
    }

    .prod-img .img-mobile{
        display: block;
        width: 100%;
    }

    .prod-img .img-desktop{
        display: none;
    }


    .produtos{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    
    .produtos:not(:last-child){
        margin-bottom: 20px;
    }
    
    .card{
        width: 175px;
        height: 275px;
        border-radius: 5px;
        margin: 0 10px;
    }
    
    .card.link{
        display: block;
    }
    
    .imgcard img{
        width: 150px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .txtcard h1{
        height: 55px;
        margin: 0px 8px;
        font-size: 16px;
        line-height: 20px;
    }
    
    #mini h1{
        font-size: 14px;
    }
    
    .btncard a{
        font-size: 18px;
        padding: 2px 15px;
    }
    
    .paginacao{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
    
    .numero{
        margin: 0px 10px;
    }
    
    .numero a{
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 10px;
        text-align: center;
        border-radius: 5px;
        padding-top: 10px;
    }

    .rodape{
        height: 395px;
    }

    .dadoscontato{
        flex-direction: column;
        padding-top: 15px;
    }
    
    .contato h1{
        font-size: 1.5rem;
    }

    .contato h2{
        font-size: 0.9rem;
    }
    
    .redes h1{
        padding-top: 15px;
        font-size: 1.5rem;
    }

    .redes-container{
        display: flex;
        padding-top: 0px;
    }

    .redes img{
        width: 50px;
    }
    
    .endereco h1{
        font-size: 1.5rem;
        padding-top: 15px;
    }
    
    .endereco a{
        font-size: 1rem;
    }
    
    .direitos{
        padding-top: 50px;
    }
    
    .direitos h1:not(:first-child){
        font-size: 0.8rem;
        padding-bottom: 10px;
    }
}